*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
}
html, body{
    height: 100%;
    width: 100%; 
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
   position:fixed;
   width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding:30px 40px;
}

#nav h3{
    color:white;
    background-color: black;
    padding: 15px 25px;
    font-size:22px;
    margin-left : 5px;
    border-radius: 50px;
}

#intro{
    
    height: 45%;
    width:100%;
    padding: 30px 60px;

}
#intro h1{
    font-size:  120px;
    line-height: 110px; 
    letter-spacing: -3px;
}

#place{
    margin-top: 10px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#place h3,#place h4{
    font-size:25px;
    font: weight 200px;;
}

#hero-picture{
    height: 90%;
    width:100%;
    background-image:url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-color: orange;
    background-size: cover;
}
#about
{
    height:50%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:30px;
}
#about h2{
    /* background-color: red; */
    width:50%;
    font-size: 70px;
    padding-left: 20px;
    line-height: 70px;
    font-weight: 600;
    letter-spacing: -3px;
}
#about-part2{
    width: 40%;
    height:100%;
    padding:0 50px;
    /* background-color: blue; */
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#about-part2 h3{
    font-size: 30px;
    font-weight: 600;

}
#icons i{
    background-color: black;
    color:white;
    font-size:25px;
    padding:10px;
    border-radius:50%;
    margin:5px;
}

#work{
    height: 55%;
    width:100%;
    border-top: 2px solid black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 60px;
    border-bottom:  2px solid black;
    
}

#work1{
    width: 35%;
    height: 100%;
   display: flex;
   justify-content: space-between;
   padding-right: 50px;
    border-right: 2px solid black;
}
#work1 h3{
    font-size:30px;
    font-weight: 100;
}
#work1 i{
    font-size:30px;
}
#work2{
    width: 65%;
    height: 100%;
    padding: 0 6px;
    
   
}
.work2-part{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 5px;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid black;
    
}
.work2-part .elem{
    width:50%;
    height: 100%;

}
.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
    padding-left: 50px;
}

.work2-part .elem:nth-child(2){
    padding-left:50px;
}

.work2-part .elem h4{
    font-size:40px;
    font-weight: 600;
    margin-bottom: 5px;
}
.work2-part .elem p{
    font-size: 15px;
    color: #5a5757;
    font-weight: 500;
}
